<!-- navbar -->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['/Home']" >
      Home
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" [routerLink]="['/pokemon']">
        Pokémon
      </a>

      <a class="navbar-item"[routerLink]="['/Moves']">
        Moves
      </a>
      <a class="navbar-item"[routerLink]="['/Types']">
        Types
      </a>
      <a class="navbar-item"[routerLink]="['/pokéQuiz']">
        Quiz
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item"[routerLink]="['/Adding']">
            Adding
          </a>
          <a class="navbar-item" [routerLink]="['/Statistics']">
            Update
          </a>
          <a class="navbar-item"[routerLink]="['/Deleting']">
            Deleting
          </a>
          <hr class="navbar-divider">

        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
      </div>
    </div>
  </div>
</nav>
<!-- einde navbar -->
<div><router-outlet></router-outlet></div>
