<br>
<br>
<h1 style="text-align: center;font-size: 80px;">Documentatie</h1>
<br>
<br>
<h2 style="text-align:left;font-size: 60px;padding-left: 5%;">Pokémon tab</h2>
<br>
<div style="text-align:left;font-size: 30px;padding-left: 5%;"> Zoek aan de hand van de volgende commando's:</div>
<br>
<table>
    <tr><th>Command</th><th>Uitleg</th></tr>
        <tr>
            <td>pokémon</td><td>krijg alle pokemons</td>
        </tr>
        <tr>
            <td>pokémon/1</td><td>krijg pokemon met id 1</td>
        </tr>
        <tr>
            <td>pokémon?name=Bulba </td><td>krijg pokemon met naam Bulba</td>
        </tr>
        <tr>
            <td>pokémon?length=2&page=1</td><td>krijg 2 pokemons te zien en de eerste pagina</td>
        </tr>
        <tr>
            <td>pokémon?length=2&page=1&sort=name</td><td>krijg 2 pokemons te zien en de eerste pagina en sorteer op naam</td>
        </tr>
        <tr>
            <td>pokémon?length=2&page=1&sort=id</td><td>krijg 2 pokemons te zien en de eerste pagina en sorteer op id</td>
        </tr>
</table>
<br>
<br>
<h2 style="text-align:left;font-size: 60px;padding-left: 5%;">Moves tab</h2>
<br>
<div style="text-align:left;font-size: 30px;padding-left: 5%;"> Zoek aan de hand van de volgende commando's:</div>
<br>
<table>
    <tr><th>Command</th><th>Uitleg</th></tr>
        <tr>
            <td>Moves</td><td>krijg alle Moves</td>
        </tr>
        <tr>
            <td>Moves/Growl<td>krijg Move genaamd Growl</td>
        </tr>
        <tr>
            <td>Moves?name=Growl </td><td>krijg Move met naam Growl</td>
        </tr>
        <tr>
            <td>Moves?length=2&page=1</td><td>krijg 2 Moves te zien en de eerste pagina</td>
        </tr>
        <tr>
            <td>Moves?length=2&page=1&sort=name</td><td>krijg 2 Moves te zien en de eerste pagina en sorteer op naam</td>
        </tr>
        <tr>
            <td>Moves?length=2&page=1&sort=id</td><td>krijg 2 Moves te zien en de eerste pagina en sorteer op id</td>
        </tr>
</table>
<br>
<br>
<h2 style="text-align:left;font-size: 60px;padding-left: 5%;">Types tab</h2>
<br>
<div style="text-align:left;font-size: 30px;padding-left: 5%;"> Zoek aan de hand van de volgende commando's:</div>
<br>
<table>
    <tr><th>Command</th><th>Uitleg</th></tr>
        <tr>
            <td>Type</td><td>krijg alle Types</td>
        </tr>
        <tr>
            <td>Type/fire<td>krijg het type fire</td>
        </tr>
        <tr>
            <td>Type?length=2&page=1</td><td>krijg 2 types te zien en de eerste pagina</td>
        </tr>
        <tr>
            <td>Type?length=2&page=1&sort=name</td><td>krijg 2 types te zien en de eerste pagina en sorteer op naam</td>
        </tr>
        <tr>
            <td>Type?length=2&page=1&sort=id</td><td>krijg 2 types te zien en de eerste pagina en sorteer op id</td>
        </tr>
</table>
<br>
<br>