<br>
<br>
<h1 style="text-align: center;font-size: 80px;">Pokémon</h1>
<br>
<br>
<div style="text-align: center;"><h2> Zoek Pokémon op ID of naam.</h2>
    <input #in1 type="text" placeholder=" voorbeeld: 1 of bulbasaur">
    <button (click)="Zoek(in1.value)" style="margin-left: 1%;">Zoek</button>
    <br>
    <br>
    <h2>Zoek Pokémons op onderstaand filters.</h2>
    <select class="form-control" [(ngModel)]="viewnr">
        <option value="" disabled selected>Select view count</option>
        <option value="2">2</option>
        <option value="4">4</option>
        <option value="6">6</option>
    </select>
    <select class="form-control" [(ngModel)]="sortoption" style="margin-left: 1%;">
        <option value="" disabled selected>Sort option</option>
        <option value="name">name</option>
        <option value="id">id</option>
    </select>
    <button (click)="Zoek('all')" style="margin-left: 1%;">Zoek Pokémon</button>
</div>

<br>
<br>
<div *ngIf="ZoekOpdrachten!=null && pokesearch==false" style="text-align: center;">
    <table>
        <tr>
            <th>Id</th>
            <th>Naam</th>
            <th>Type</th>
            <th>Evolution</th>
            <th>API url</th>
        </tr>
        <tr *ngFor="let item of ZoekOpdrachten">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td><span *ngFor="let type of item.type">{{type.type}}, </span></td>
            <td>
                <table>
                    <tr>
                        <td>Evolves in:</td>
                        <td>{{item.evolvesTo.evolvesIn}}</td>
                    </tr>
                    <tr>
                        <td>At level:</td>
                        <td>{{item.evolvesTo.levelToEvolve}}</td>
                    </tr>
                    <tr>
                        <td>Previous evolution:</td>
                        <td>{{item.evolvesTo.previousEvolution}}</td>
                    </tr>
                </table>
            </td>
            <td>{{item.url}}</td>
        </tr>
    </table>

</div>

<div *ngIf="ZoekOpdrachten!=null && pokesearch==true" style="text-align: center;">
    <table>
        <tr>
            <th>Id</th>
            <th>Naam</th>
            <th>Moves</th>
            <th>Type</th>
            <th>Evolution</th>
            <th>Statistics</th>
            <th>API url</th>
        </tr>
        <tr *ngFor="let item of ZoekOpdrachten">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td ><span *ngFor="let move of item.moves">{{move.name}}, </span></td>
            <td><span *ngFor="let type of item.type">{{type.type}}, </span></td>
            <td>
                <table>
                    <tr>
                        <td>Evolves in:</td>
                        <td>{{item.evolvesTo.evolvesIn}}</td>
                    </tr>
                    <tr>
                        <td>At level:</td>
                        <td>{{item.evolvesTo.levelToEvolve}}</td>
                    </tr>
                    <tr>
                        <td>Previous evolution:</td>
                        <td>{{item.evolvesTo.previousEvolution}}</td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td>Health</td>
                        <td>{{item.statistics.hp}}</td>
                    </tr>
                    <tr>
                        <td>attack</td>
                        <td>{{item.statistics.attack}}</td>
                    </tr>
                    <tr>
                        <td>Defense:</td>
                        <td>{{item.statistics.defense}}</td>
                    </tr>
                    <tr>
                        <td>Special defense:</td>
                        <td>{{item.statistics.sP_Def}}</td>
                    </tr>
                    <tr>
                        <td>Special attack:</td>
                        <td>{{item.statistics.sP_Atk}}</td>
                    </tr>
                    <tr>
                        <td>Speed:</td>
                        <td>{{item.statistics.speed}}</td>
                    </tr>
                </table>
            </td>
            <td>{{item.url}}</td>
        </tr>
    </table>

</div>
<br>
<br>
<div style="margin-left: 50%;"><button [disabled]="isDisabled==true" (click)="Page('-')" style="margin-left: -10%;"><<</button> <button (click)="Page('+')"  style="margin-left: 10%;">>></button></div>
