<br>
<br>
<h1 style="text-align: center;font-size: 80px;">Update</h1>
<br>
<br>
<div style="text-align: center;" class="control">
    <p style="font-size: 20px;">Kies wat je wilt Updaten</p>
    <br>
    <select class="form-control" [(ngModel)]="ShowOption">
        <option value="1">Pokémon</option>
        <option value="2">Type</option>
        <option value="3">Moves</option>
    </select>
</div>
<br>
<br>
<div *ngIf="ShowOption==1" style="margin-left: 45%;">
      <p style="font-size: 20px;">Welke pokemon wilt u aanpassen?</p>
    <select [(ngModel)]="selectedpokemon" style="margin-left: 1%;">
        <option *ngFor="let item of Getpokemons" [value]="item.id">
          {{item.name}}
        </option>
    </select>
    <p style="font-size: 20px;">Naam</p><input type="text" placeholder="Bulbasaur" style="margin-left: 1%;" #inNaam>
    <br>
    <br>
    <p style="font-size: 20px;">Statistics</p>
    <p style="margin-left: 1%;">Health</p>
    <input type="number" placeholder="50" style="margin-left: 1%;" #in1>
    <p style="margin-left: 1%;">Damage</p>
    <input type="number" placeholder="80" style="margin-left: 1%;" #in2>
    <p style="margin-left: 1%;">Defense</p>
    <input type="number" placeholder="50" style="margin-left: 1%;" #in3>
    <p style="margin-left: 1%;">Special Defense</p>
    <input type="number" placeholder="50" style="margin-left: 1%;" #in4>
    <p style="margin-left: 1%;">Special Attack</p>
    <input type="number" placeholder="50" style="margin-left: 1%;" #in5>
    <p style="margin-left: 1%;">Speed</p>
    <input type="number" placeholder="50" style="margin-left: 1%;" #in6>
    <br>
    <br>
    <p style="font-size: 20px;">Evolution</p>
    <p style="margin-left: 1%;">Evolves in:</p>
    <input type="text" placeholder="Venusaur" style="margin-left: 1%;" #Toevolve>
    <p style="margin-left: 1%;">Level to evolve</p>
    <input type="number" placeholder="16" style="margin-left: 1%;" #LvEvolve>
    <p style="margin-left: 1%;">Previous evolution</p>
    <input type="text" placeholder="none" style="margin-left: 1%;" #Previous>
    <br>
    <br>
    <button
        (click)="UpdatePokemon(inNaam.value,in1.value,in2.value,in3.value,in4.value,in5.value,in6.value,Toevolve.value,LvEvolve.value,Previous.value)"
        style="margin-left: 5%;">Submit</button>
    <br>
    <br>
</div>
<div *ngIf="ShowOption==2" style="margin-left: 45%;">
    <p style="font-size: 20px;">Naam Type</p><input type="text" placeholder="fire" style="margin-left: 1%;" #inType>
    <br>
    <br>
    <br>
    <!-- <p style="font-size: 20px;">Welke pokemon heeft dit type?</p>
    <select [(ngModel)]="selectedpokemon" style="margin-left: 1%;">
        <option *ngFor="let item of Getpokemons" [value]="item.name">
          {{item.name}}
        </option>
    </select>
    <br>
    <br>
    <p style="font-size: 20px;">Sterk tegen volgend type?</p>
    <select [(ngModel)]="selectedtype" style="margin-left: 1%;">
        <option *ngFor="let item of GetTypes" [value]="item.type">
          {{item.type}}
        </option>
    </select>
    <br>
    <br>
    <p style="font-size: 20px;">Zwak tegen volgend type?</p>
    <select [(ngModel)]="TypeWeakagainst" style="margin-left: 1%;" [value]="item.type">
        <option *ngFor="let item of GetTypes" >
          {{item.type}}
        </option>
    </select> -->
    <button (click)="AddType(inType.value)" style="margin-left: 5%;">Submit</button>
    <br>
    <br>
</div>
<div *ngIf="ShowOption==3"style="margin-left: 45%;">
    <p style="font-size: 20px;">Naam Move</p><input type="text" placeholder="BOMB" style="margin-left: 1%;" #inMove>
    <br>
    <br>
    <p style="font-size: 20px;">Details Move</p>
    <p style="margin-left: 1%;">Damage</p>
    <input type="number" placeholder="50" style="margin-left: 1%;" #inDamage>
    <p style="margin-left: 1%;">effect</p>
    <input type="text" placeholder="it sets someone in fire" style="margin-left: 1%;" #inEffect>
    <!-- <p style="font-size: 20px;">Welke pokemon heeft dit type?</p> -->
    <!-- <select [(ngModel)]="selectedpokemon" style="margin-left: 1%;">
        <option *ngFor="let item of Getpokemons" [value]="item.name">
          {{item.name}}
        </option>
    </select>
    <br>
    <br>
    <p style="font-size: 20px;">Sterk tegen volgend type?</p>
    <select [(ngModel)]="selectedtype" style="margin-left: 1%;">
        <option *ngFor="let item of GetTypes" [value]="item">
          {{item.type}}
        </option>
    </select>
    <br>
    <br> -->
    <br>
    <br>
    <button
        (click)="AddMove(inMove.value,inDamage.value,inEffect.value)"
        style="margin-left: 5%;">Submit</button>
    <br>
    <br>
</div>
<div *ngIf="this.errorThrow!=null" style="text-align: center;">{{this.errorThrow}} check console log (press F12) to find
    out more</div>