<br>
<br>
<h1 style="text-align: center;font-size: 80px;">Adding</h1>
<br>
<br>
<div style="text-align: center;" class="control">
    <p style="font-size: 20px;">Kies wat je wilt toevoegen</p>
    <br>
    <select class="form-control" [(ngModel)]="ShowOption">
        <option value="1">Pokémon</option>
        <option value="2">Type</option>
        <option value="3">Moves</option>
    </select>
</div>
<br>
<br>
<div *ngIf="ShowOption==1" style="margin-left: 45%;">
    <p style="font-size: 20px;">Naam</p><input type="text" placeholder="Bulbasaur"style="margin-left: 1%;" #inNaam>
    <br>
    <br>
    <p style="font-size: 20px;">Statistics</p>
    <p style="margin-left: 1%;">Health</p>
    <input type="number" placeholder="50" style="margin-left: 1%;" #in1>
    <p style="margin-left: 1%;">Damage</p>
    <input type="number" placeholder="80" style="margin-left: 1%;"#in2>
    <p style="margin-left: 1%;">Defense</p>
    <input type="number" placeholder="50" style="margin-left: 1%;"#in3>
    <p style="margin-left: 1%;">Special Defense</p>
    <input type="number" placeholder="50" style="margin-left: 1%;"#in4>
    <p style="margin-left: 1%;">Special Attack</p>
    <input type="number" placeholder="50" style="margin-left: 1%;"#in5>
    <p style="margin-left: 1%;">Speed</p>
    <input type="number" placeholder="50" style="margin-left: 1%;"#in6>
    <br>
    <br>
    <p style="font-size: 20px;">Evolution</p>
    <p style="margin-left: 1%;">Evolves in:</p>
    <input type="text" placeholder="Venusaur" style="margin-left: 1%;" #Toevolve>
    <p style="margin-left: 1%;">Level to evolve</p>
    <input type="number" placeholder="16" style="margin-left: 1%;" #LvEvolve>
    <p style="margin-left: 1%;">Previous evolution</p>
    <input type="text" placeholder="none" style="margin-left: 1%;" #Previous>
    <br>
    <br>
    <button (click)="AddPokemon(inNaam.value,in1.value,in2.value,in3.value,in4.value,in5.value,in6.value,Toevolve.value,LvEvolve.value,Previous.value)" style="margin-left: 5%;">Submit</button>
<br>
<br>
</div>
<div *ngIf="ShowOption==2">Type</div>
<div *ngIf="ShowOption==3">Moves</div>
<div *ngIf="this.errorThrow!=null" style="text-align: center;">{{this.errorThrow}} check console log (press F12) to find out more</div>